### 1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
# importing pandas library
import pandas as pd

# Creating a series
seris = pd.Series([4,8,15,16,23,42])

# printing series
print(seris)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### 2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [6]:
# declaring a list variable with 10 elements
var1 = [1,2,3,4,5,6,7,8,9,20]

# Creating series from above variable
var_series = pd.Series(var1)

# printing the series
print(var_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    20
dtype: int64

### 3. Create a Pandas DataFrame that contains the following data:

In [7]:
# Creating a DataFrame
data = {'Name': ['Alice','Bob','Claire'], 'Age': [25,30,27], 'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

# Displaying the dataframe
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### 4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [8]:
'''
In pandas, a DataFrame is a two-dimensional, tabular data structure that is capable of holding data of different types. 
It is similar to a spreadsheet or a SQL table, where data is organized in rows and columns. 
Each column in a DataFrame is a pandas Series, making it a collection of columns with a shared index. 
You can think of a DataFrame as a container for multiple Series objects.

A pandas Series, on the other hand, is a one-dimensional array-like object that can hold any data type. 
It is similar to a single column or row in a DataFrame. Series objects have an index that labels each element in the array.

Here's an example to illustrate the difference between a DataFrame and a Series:
'''

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

# Displaying the DataFrame
print("DataFrame:")
print(df)


'''
Now, let's create a Series:
'''

# Creating a Series
ages = pd.Series([25, 30, 22], name='Age')

# Displaying the Series
print("\nSeries:")
print(ages)

DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

Series:
0    25
1    30
2    22
Name: Age, dtype: int64

### 5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate and analyze data in a DataFrame. Here are some common functions:

1. head() and tail():   head(n) returns the first n rows of the DataFrame.
                        tail(n) returns the last n rows of the DataFrame.

2. info():              info() provides a concise summary of the DataFrame, including data types, non-null values, and memory usage.

3. describe():          describe() computes various summary statistics, such as mean, median, min, max, and quartiles, for numeric columns.

4. shape:               shape returns a tuple representing the dimensions (rows, columns) of the DataFrame.

5. loc and iloc:        loc is label-based indexing, and iloc is integer-based indexing. They are used to access a group of rows and columns
                        by labels or integer indices.

### 6. Which of the following is mutable in nature Series, DataFrame, Panel?

In pandas, a Series is mutable, meaning its values can be changed or modified after the Series is created. You can modify elements in a Series using the index.

On the other hand, both DataFrame and Panel are mutable as well. You can modify the contents of a DataFrame by adding, updating, or deleting rows and columns. A Panel, which is a 3D data structure in pandas (though it has been deprecated in recent versions), is also mutable.

To summarize:

1. Series is mutable.
2. DataFrame is mutable.
3. Panel is mutable (deprecated, and not commonly used in recent versions of pandas).

### 7. Create a DataFrame using multiple Series. Explain with an example.

In [9]:
# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie'], name='Name')
ages = pd.Series([25, 30, 22], name='Age')
cities = pd.Series(['New York', 'San Francisco', 'Los Angeles'], name='City')

# Creating a DataFrame using multiple Series
data = {'Name': names, 'Age': ages, 'City': cities}
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles